
body {
  background-color: grey;
}
.title-container{
  height: 40vh;

  background-color: #C0C0C0;

}
.title-Hello {
  font-size: 10rem;
  font-weight: 700;
  font-family: 'Caveat', cursive;
  color: black;
}
.title-name{
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Caveat', cursive;

  position: relative;
  top: -2.5rem;


  color: black;
  background-color:#FFA500

}

.title-tag {
  font-size: 1.5rem;
  font-weight: bold;
  color: BLUE;
  font-family: 'Caveat', cursive;

  position: relative;;
  top:-2rem;
}

.about-me-container{
  width: 70vw;
  height: 55vh;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;

  margin-left: 15vw;

  background-color: #FFA500;

}

.about-me-image{
  border-radius: 100%;
  box-shadow: 10px 5px 10px black;

}

.about-me-text{
font-size: 2.5rem;
font-family: 'Caveat', cursive;
font-weight: 1000;

padding-left: 5% !important;
padding-right: 5% !important;
color: black;

}
.contact-me-container{

  margin-top: 5vh;
  margin-bottom: 15vh;

  font-size: 2rem;
  font-weight: 700;
  font-family: 'Caveat', cursive;


}
.imgpos{

}
